{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  <h3>Досье:</h3>
                </div>
            </li>
            <li class="list-group-item">
              <div class="h5 text-muted">
                <p>Трофимов Алексей</p>
                <p>Есть кот, кличка Лёлик</p>
                <a href="https://github.com/TrofimovAleksey">Мой GitHub
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <h2>
            Привет, рад что ты здесь!
          </h2>
          <p>
            Мой жизненный путь всегда пересекался с миром IT, но к моему
            большому сожалению ненадолго. Я изучал Basic, С и assembler.
            На последнем даже программировал микроконтроллеры. В университете
            хотел открыть свой интернет магазин, но как нетрудно догадаться
            всё закончилось на изучении HTML, CSS и JavaScript. Достигнув
            определённого потолка в своей текущей карьере, решил попробовать
            себя снова в сфере IT. Коллега изучавшая курсы на Yandex Практикум
            порекомендовала мне именно эту платформу. Поискав информацию про
            разные обучающие платформы, решил для себя, что Практикум мне очень
            даже подходит.
          </p>
            <p>
              И по традиции, моё тотемное животное.
            </p>
            <img src="/static/img/cat.jpg"  class="rounded-3 border" height="200">
            <p> P.S. Спасибо, за внимание!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}